<!DOCTYPE html>
<html>

<head>
    <title>Questionnaire</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">
        <div class="title">Favorite Color?</div>
        <form action="" class="questionnaire">
            <div class="field">
                <input type="radio" name="color" id="yellow" required>
                <label for="yellow" name="yellow">Yellow</label>
            </div>
            <br>
            <div class="field">
                <input type="radio" name="color" id="green">
                <label for="green" name="green">Green</label>
            </div>
            <br>
            <div class="field">
                <input type="radio" name="color" id="blue">
                <label for="blue" name="blue">Blue</label>
            </div>
            <br>
            <div class="field">
                <input type="radio" name="color" id="orange">
                <label for="orange" name="orange">Orange</label>
            </div>
            <br>
            <div class="field">
                <label for="other" name="other">Other:</label>
                <input type="text" name="color" id="other">
            </div>
            <button type="submit" class="submit">Submit</button>
        </form>
    </div>
    <a class="back" href="../../../forms.html">Back to Menu</a>
</body>

</html>
