<!DOCTYPE html>
<html>

<head>
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:100,300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="calculator">
        <input type="text" name="result" id="result" value="0" disabled="">
        <input type="text" name="history" id="history" value="" disabled="">
        <div class="input">
            <div class="top">
                <div id="btn-pl" class="btn-sm dark symbol">+</div>
                <div id="btn-min" class="btn-sm dark symbol">-</div>
                <div id="btn-div" class="btn-sm dark symbol">&#247;</div>
                <div id="btn-by" class="btn-sm dark symbol">&#215;</div>
            </div>
            <div class="left">
                <div id="num-7" class="btn-sm light digit">7</div>
                <div id="num-8" class="btn-sm light digit">8</div>
                <div id="num-9" class="btn-sm light digit">9</div>
                <div id="num-4" class="btn-sm light digit">4</div>
                <div id="num-5" class="btn-sm light digit">5</div>
                <div id="num-6" class="btn-sm light digit">6</div>
                <div id="num-1" class="btn-sm light digit">1</div>
                <div id="num-2" class="btn-sm light digit">2</div>
                <div id="num-3" class="btn-sm light digit">3</div>
                <div id="num-0" class="btn-sm light digit">0</div>
                <div id="num-dp" class="btn-sm light digit">.</div>
                <div id="btn-cl" class="btn-sm dark">C</div>
            </div>
            <div class="right">
                <div id="btn-del" class="btn-lg dark">DEL</div>
                <div id="btn-eq" class="btn-lg blue">=</div>
            </div>
        </div>
    </div>
    <a class="back" href="../../index.html">Back to Main Page</a>
</body>
<script src="script.js"></script>
</html>
