<!DOCTYPE html>
<html>

<head>
    <title>Color Builder</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300' rel='stylesheet' type='text/css'>
    <script src="https://use.fontawesome.com/111f405b91.js"></script>
</head>

<body>
    <div class="container">
        <div class="title">Color Builder</div>
        <form action="" class="color-builder">
            <div class="red-container">
                <input type="range" min="0" max="255" value="128" step="5" name="red" id="red">
                <label for="red">R</label>
                <output for="red" id="red-op">128</output>
            </div>
            <div class="green-container">
                <input type="range" min="0" max="255" value="128" step="5" name="" id="green">
                <label for="green">G</label>
                <output for="green" id="green-op">128</output>
            </div>
            <div class="blue-container">
                <input type="range" min="0" max="255" value="128" step="5" name="" id="blue">
                <label for="blue">B</label>
                <output for="blue" id="blue-op">128</output>
            </div>
            <div class="alpha-container">
                <input type="range" min="0" max="1" value="0.50" step="0.01" name="" id="alpha">
                <label for="alpha">A</label>
                <output for="alpha" id="alpha-op">0.50</output>
            </div>
        </form>
        <textarea name="" id="result" cols="15" rows="5" form="color-builder" disabled></textarea>
    </div>
    <a class="back" href="../../../forms.html">Back to Menu</a>
</body>
<script type="text/javascript" src="../../../scripts/validator.js"></script>
<script type="text/javascript" src="../../../scripts/script.js"></script>
</html>
