<!DOCTYPE html>
<html>

<head>
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300' rel='stylesheet' type='text/css'>
</head>

<body>
    <form action="" class="search">
        <input type="text" name="input" id="input" placeholder="Search..."></input>
        <button name="submit" id="submit">Search</button>
        <select name="colors" id="colors">
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="cyan">Cyan</option>
            <option value="yellow">Yellow</option>
            <option value="orange">Orange</option>
        </select>
    </form>
    <a class="back" href="../../../forms.html">Back to Menu</a>
</body>

</html>
