<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300' rel='stylesheet' type='text/css'>
    <script src="https://use.fontawesome.com/111f405b91.js"></script>
</head>

<body>
    <div class="container">
        <div class="title">Login</div>
        <form action="" class="login">
            <input type="text" name="" id="username" placeholder="Username">
            <p class="error"></p>
            <br>
            <input type="text" name="" id="email" placeholder="Email">
            <p class="error"></p>
            <br>
            <input type="password" name="" id="password" placeholder="Password">
            <p class="error"></p>
            <br>
            <button type="submit" id="submit">Sign In</button>
            <p class="error"></p>
        </form>
    </div>
    <a class="back" href="../../../forms.html">Back to Menu</a>
</body>

<script type="text/javascript" src="../../../scripts/validator.js"></script>
<script type="text/javascript" src="../../../scripts/script.js"></script>
</html>
