<!doctype HTML>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>	
	</head>
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300' rel='stylesheet' type='text/css'>
	<body>
	<a class="back" href="../../index.html">Back to Main Page</a>
		<div class='card-container'>
			<h3 class='card-title red'>Jake<br><strong>Tom</strong></h3>
			<img class='avatar' src="http://i.imgur.com/ucn7uxc.jpg" alt="avatar">
			<hr>
			<h5 class='card-h4 orange'>About the Developer</h4>
			<p class='card-content'>With a Masters in Software Engineering, Jake freelances as a front end developer, usually working alongside designers and backend developers to implement the client side of web applications. Jake is passionate about UI/UX and takes pride in staying up-to-date with the latest technologies and practices. He is currently working on adding ReactJS to his toolbelt. In his spare time, he fiddles with his guitar and dreams of squatting 200 kilos.</p>
			<a href='#'><h5 class='card-h5 red'>Back to Full Profile</h5></a>
		</div>
	</body>
</html>